
    </body>
    
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item footer-icons">
          <a href="https://www.facebook.com/JDtrainingHealthMatters" class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item footer-icons">
          <a href="" class="btn-floating btn-gplus mx-1">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
        <li class="list-inline-item footer-icons instagram">
            <a href="https://www.instagram.com/jdtraining_health_matters/?hl=en" class="btn-floating btn-gplus mx-1">
                <i class="fab fa-instagram"></i>
            </a>
          </li>
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> MattDunlop Designs</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    


    </html>