<!DOCTYPE html>
<html>
    <head>
        <title>J Dunlop Fitness & Wellbeing</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap" rel="stylesheet">
        <link href="/CSS/main.css" rel="stylesheet" type="text/css">
        
        

    </head>
    <body data-spy="scroll" data-target="navbar">
 
    <nav class="navbar sticky-top navbar-expand">
        <a class="navbar-brand" href="/">
            <i class="fas fa-dumbbell"> </i>
        </a>
              <div class="navbar-nav mr-auto ">
                <a class="nav-item nav-link  active" id="AboutNav" href="#About">About</a>
                <a class="nav-item nav-link " id="BlogNav" href="#Blog">Training Systems</a>
                <a class="nav-item nav-link " id="TestNav" href="#Testimonials">Testimonials</a>
                <a class="nav-item nav-link " id="ContactNav" href="#Contact">Contact</a>
              </div>
        <span></span>
          
        </nav>
        <div id="banner" class="mb-5">
            <h1 class="title">J Dunlop</h1>
            <h2 class="title"> Fitness & Wellbeing</h1> 
            </div>     

      <% if(error && error.length > 0){ %>
          <div class="alert FlashMessage alert-danger" role="alert">
              <%= error %>
          </div>
      <% } %>
      <% if(success && success.length > 0){ %>
          <div class="alert FlashMessage alert-success" role="alert">
              <%= success %>
          </div>
      <% } %>