<!DOCTYPE html>
<html>
    <head>
        <title>J Dunlop Fitness & Wellbeing</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link href="/CSS/main.css" rel="stylesheet" type="text/css">
        

    </head>
    <body data-spy="scroll" data-target="navbar">

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="fas fa-dumbbell"> </i>
        </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
            <div class="collapse navbar-collapse navbar-dark bg-dark" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto navbar-dark">
                <a class="nav-item nav-link  active" id="AboutNav" href="#About">About</a>
                <a class="nav-item nav-link " id="PostNav" href="#Posts">Posts</a>
                <a class="nav-item nav-link " id="TestNav" href="#Testimonials">Testimonials</a>
                <a class="nav-item nav-link " id="ContactNav" href="#Contact">Contact</a>
              </div>
            </div>
          </nav>