<%- include('../partials/header') %>



<section class="container-fluid">

  <form action="/#Training">
    <button class="btn btn-danger">
      <i class="fas fa-arrow-left"></i> Back</a>
    </button>
  </form>

  <h2 class="heading">
    Healthy Lifestyle
  </h2>

<h3>Tag line for training program</h3>
  <p>
    Inermis mentitum electram eos in, iisque disputando ex eos. Pri inani possit percipit ut, commune gloriatur mel te. Et ius iusto legendos lobortis, vim ad malis fugit, mundi abhorreant sit ne. At qui prima disputationi. Eam id minim luptatum concludaturque, quidam iriure dolorum his cu. Possim scriptorem dissentiunt cu quo, ad nihil nonumy eam, ei enim melius feugait qui. Id esse liber harum pro.    For many of us, the gym has served as an outlet, a place where we could conquer our demons and become
  </p>
  <p>
    Discere civibus temporibus ut qui. Eam diceret scriptorem ne. Ius ex probo erant fabulas. Omnes eligendi ocurreret mea cu, eu mei docendi appetere.
  </p>
  <p>
    Graece deserunt usu ad. Ornatus fierent ex eam, eum eu mucius nostro nostrum, est ei nisl percipit appellantur. Vix quaestio explicari at. Offendit suavitate cotidieque ex pro, mea ad nulla fabellas adversarium.  
  </p>

  <img class="center" src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="Card image cap">
  <p>
    Inermis mentitum electram eos in, iisque disputando ex eos. Pri inani possit percipit ut, commune gloriatur mel te. Et ius iusto legendos lobortis, vim ad malis fugit, mundi abhorreant sit ne. At qui prima disputationi. Eam id minim luptatum concludaturque, quidam iriure dolorum his cu. Possim scriptorem dissentiunt cu quo, ad nihil nonumy eam, ei enim melius feugait qui. Id esse liber harum pro.    For many of us, the gym has served as an outlet, a place where we could conquer our demons and become
  </p>
  <h3>What you get</h3>
  <p>
    <li>Training plan</li>
    <li>Tracker spreadsheet</li>
    <li>Tailored Macros</li>
    <li>Weekly check-ins</li>
  </p>
  <p>
    Graece deserunt usu ad. Ornatus fierent ex eam, eum eu mucius nostro nostrum, est ei nisl percipit appellantur. Vix quaestio explicari at. Offendit suavitate cotidieque ex pro, mea ad nulla fabellas adversarium.  
  </p>

  <form action="/#Contact">
    <button class="btn btn-lg btn-danger">
      <i class="fas fa-arrow-left"></i>Sign me up!</a>
    </button>
  </form>

</section>

<%- include('../partials/footer') %> 