<%- include('../partials/header') %>

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">J Dunlop Fitness & Wellbeing</h1>
</div>

      <!--Contact form-->
<div class="container" id="ContactForm">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
            <label for="inputMessage">Your message</label>
            <textarea class="form-control" id="inputMessage" rows="4"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputContactNumber">Contact Number</label>
              <input type="number" class="form-control" id="ContactNumber">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail">
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>


</div>

<%- include('../partials/footer') %>