<%- include('../partials/header') %>


<div id="Title" class="mb-5">
    <h1 class="display-4">J Dunlop Fitness & Wellbeing</h1>
    <hr class="d-lg-block d-none">
</div>

<section class="container-fluid px-0" id="About">
    <div class="row align-items-center content">
        <div class="col-lg-6 order-2 order-lg-1">
            <img src="https://images.unsplash.com/photo-1517343985841-f8b2d66e010b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 text-center order-1 order-lg-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 m-5 m-lg-0 ">
                    <h2>Conditioning</h2>
                    <hr>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                        beatae, maiores deserunt
                        in voluptatibus
                        aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                        repellat eveniet quidem
                        voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                        autem nam ex deserunt debitis
                        eaque ratione! Nobis, quidem assumenda.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-lg-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 m-5 m-lg-0">
                    <h2>Strength</h2>
                    <hr>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                        beatae, maiores deserunt
                        in voluptatibus
                        aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                        repellat eveniet quidem
                        voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                        autem nam ex deserunt debitis
                        eaque ratione! Nobis, quidem assumenda.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="https://images.unsplash.com/photo-1520948013839-62020f374478?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-lg-6 order-2 order-lg-1">
            <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 text-center order-1 order-lg-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 m-5 m-lg-0">
                    <h2>Nutrition</h2>
                    <hr>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                        beatae, maiores
                        deserunt
                        in voluptatibus
                        aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                        repellat eveniet
                        quidem
                        voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                        autem nam ex deserunt
                        debitis
                        eaque ratione! Nobis, quidem assumenda.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container" id="Posts">
    <h2>Posts</h2>
    <hr>
    <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=653&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
              <small>
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src="https://images.unsplash.com/photo-1576678927484-cc907957088c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</section>

<section class="container" id="Testimonials">
    <h2>Clients</h2>
    <hr>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1550345332-09e3ac987658?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1575859694244-0b337bf58e0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

</section>



      <!--Contact form-->
<div class="container" id="Contact">
    <h2 class="text-center mb-4 mb-lg-6">Want to know more?</h2>
      <form action="/" method="POST">
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" name="FirstName" placeholder="First Name">
          </div>
          <div class="form-group col-lg-6">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" name="LastName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
            <label for="Message">Your message</label>
            <textarea class="form-control" name="Message" rows="4"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="ContactNumber">Contact Number</label>
              <input type="number" class="form-control" name="ContactNumber">
            </div>
            <div class="form-group col-lg-6">
              <label for="Email">Email</label>
              <input type="email" class="form-control" name="Email">
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


</div>

<%- include('../partials/footer') %>