<%- include('../partials/header') %>

<div>
<div id="banner" class="mb-5">
    <h1 class="title">J Dunlop</h1>
    <h2 class="title"> Fitness & Wellbeing</h1>
</div>

<section class="container-fluid px-0" id="About">
    <div class="row align-items-center content">
        <div class="col-lg-6 order-2 order-lg-1">
            <img src="https://images.unsplash.com/photo-1517343985841-f8b2d66e010b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 text-center order-1 order-lg-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 m-5 m-lg-0 ">
                    <h3>Conditioning</h3>
                    <hr>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                        beatae, maiores deserunt
                        in voluptatibus
                        aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                        repellat eveniet quidem
                        voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                        autem nam ex deserunt debitis
                        eaque ratione! Nobis, quidem assumenda.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-lg-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 m-5 m-lg-0">
                    <h3>Strength</h3>
                    <hr>
                    <p class="lead content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                        beatae, maiores deserunt
                        in voluptatibus
                        aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                        repellat eveniet quidem
                        voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                        autem nam ex deserunt debitis
                        eaque ratione! Nobis, quidem assumenda.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="https://images.unsplash.com/photo-1520948013839-62020f374478?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-lg-6 order-2 order-lg-1">
            <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 text-center order-1 order-lg-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 m-5 m-lg-0">
                    <h3>Nutrition</h3>
                    <hr>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                        beatae, maiores
                        deserunt
                        in voluptatibus
                        aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                        repellat eveniet
                        quidem
                        voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                        autem nam ex deserunt
                        debitis
                        eaque ratione! Nobis, quidem assumenda.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="Blog">
    <h2 class="heading" >Blog</h2>
    <hr>
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-dark">Vulputate sapien nec sagittis aliquame</h5>
          <p class="card-preview text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small><button class="btn btn-sm float-right btn-danger"> Read more?</button></p>
        </div>
      </div>
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-dark">Ut tortor pretium viverra suspendisse</h5>
            <p class="card-preview text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet nisl purus in mollis...</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small><button class="btn btn-sm float-right btn-danger"> Read more?</button></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-dark">Nunc id</h5>
            <p class="card-preview text-secondary">Cursus mattis molestie a iaculis at erat pellentesque. Suspendisse sed nisi lacus sed viverra tellus in hac...</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small><button class="btn btn-sm float-right btn-danger"> Read more?</button></p>
          </div>
        </div>
      </div>
</section>

<section class="container-fluid" id="Testimonials">
    <h2 class="heading" >Testimonials</h2>
    <hr>
    <div class="card-columns ">
        <div class="card text-dark">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1550345332-09e3ac987658?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card text-dark">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card text-dark">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1575859694244-0b337bf58e0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      
</section>



      <!--Contact form-->
<section class="container-fluid content" id="Contact">
    <h2 class="heading text-center mb-4 mb-lg-6">Want to know more?</h2>
      <form action="/" method="POST">
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" name="FirstName" placeholder="First Name">
          </div>
          <div class="form-group col-lg-6">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" name="LastName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
            <label for="Message">Your message</label>
            <textarea class="form-control" name="Message" rows="4"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="ContactNumber">Contact Number</label>
              <input type="number" class="form-control" name="ContactNumber">
            </div>
            <div class="form-group col-lg-6">
              <label for="Email">Email</label>
              <input type="email" class="form-control" name="Email">
            </div>
          </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>


</section>

<%- include('../partials/footer') %>